{% extends 'base.html' %}

{% block title %}Add employee{% endblock %}

{% block content %}
<h1>Add employee</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
    <div class='form-group'>
        {{field.label}}
        {{field(class_='form-control')}}<!--class_ to avoid potential conflict() with keyword class in python-->
  
        {% for err in field.errors %}
            {{err}}
        {% endfor %}
    </div>
    {% endfor %}
    <button class="btn  btn-primary">Submit</button>
    <a href="/" class="btn btn-warning">Cancel</a>
</form>
{% endblock %}